{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    
</head>
<body>
    <div class="container">
            <div class="inputs">

                <div class="nameBlock">
                <span>Вход <br> Регистрация</span>
                </div>

                <div class="inblock">
                <label for="email"> Почта: </label>
                <br>
                <input id="email" type="email">
                </div>

                <div class="inblock">
                <br>
                <label for="password"> Пароль: </label>
                <br>
                <input id="password" type="password">
                </div>

                <div class="inblock">
                <br>
                <label for="password2"> Повтор пароля: <abbr title="passw"></abbr> </label>
                <br>
                <input type="password" id="password2">
            </div>
            </div>

            <br>    
            <div class="buton">   
            <button type="submit"> Регистрация </button>
            <button type="submit"> Войти </button>
            </div>
    </div>    
</body>
</html>