.form {
    background-color: gray;
    display: grid;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: auto;
    margin: 10px auto 10px;
    
}

.container {
    background-color: aquamarine;
    border-radius: 15%;
    width: 400px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: auto;

}

.input{
    width: 260px;
    

    
}

.buton{
    width: 100px;
    
}